body {
  font-family:Trebuchet MS;
  background-color:#E8E8E8;
  font-size:1em;
}

h1 {
  text-align:center;
}
.container {
  max-width:25em;
  margin-left:5em;
  border:4px solid #37008A;
  background-color:#BDFFFF;
  border-radius:10px;
  padding-left:2em;
  padding-right:2em;
}

p {
  text-indent:2em;
}

.footer {
  max-width:25em;
  margin-left:5em;
  margin-top:1em;
  border:4px solid #37008A;
  background-color:#BDFFFF;
  border-radius:10px;
  padding-left:2em;
  padding-right:2em;
}